# Байт-код, оптимизированные / DLL-файлы
__pycache__/
*.py[cod]

# Файлы конфигурации для venv
venv/
.env
.env-test

# Файлы дистрибутивов и артефакты упаковки
dist/
*.egg-info/

# Файлы покрытия, кэши и прочие ненужные файлы
.coverage
*.py,cover
.cache/

# Файлы MacOS
.DS_Store